.hotelView{
    width: 80%;
    margin: 50px auto;
}

.hotelView > div:nth-child(1){
    text-align: center;
    margin: 40px 0;
}

.hotelView > div:nth-child(1) > p{
   width: 50%;
   margin: 10px auto 0;
}

.hotelView > div:nth-child(2) > div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }


 .cost {
    background: rgba(181,135,109, 1) none repeat scroll 0 0;
    bottom: 0;
    height: 100px;
    padding: 20px 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 170px;
    color: white;
}

.cost > h2,p{
    margin: 5px;
}

.bg {
    background-image: url(https://htmldemo.net/oestin/oestin/img/bg/3.jpg);
    width: 100%;
    height: 470px;
    object-fit: fill;
    background-repeat: no-repeat;
}


.bg-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 270px;
}

.toHome{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
}